<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- link FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- link BOOTSTRAP only CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- link GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- link mio CSS -->
    <link rel="stylesheet" href="style.css">

    <!-- link CDN VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <title>Vue Boolzapp - Milestone 3</title>
</head>

<body>

    <div id="root">

        <div class="line_bg_green"></div>

        <header>

        </header>

        <main>
            <div class="main_container">
                <div class="container_sx bg-light">

                    <!-- section info user -->
                    <div class="info_user d-flex align-items-center">
                        <img src="../img/avatar_io.jpg" alt="user image">
                        <h4 class="m-0">Nome Utente</h4>
                        <div class="info_user_icon">
                            <a href="#"><i class="fas fa-circle-notch"></i></a>
                            <a href="#"><i class="fas fa-comment-alt"></i></a>
                            <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                        </div>
                    </div>

                    <!-- section get notice -->
                    <div class="get_notice d-flex align-items-center">
                        <a href="#"><i class="fas fa-bell-slash"></i></a>
                        <div class="get_notice_text">
                            <h4 class="m-0 mb-1">Ricevi notifiche di nuovi messaggi</h4>
                            <a href="#">
                                <p class="m-0">Attiva notifiche desktop</p>
                            </a>
                        </div>
                    </div>

                    <!-- section search contacts input -->
                    <div>
                        <div class="input-group mb-1 p-2 bg-light search_contacts">
                            <button class="btn btn-outline-secondary" type="button"><i
                                    class="fas fa-search"></i></button>
                            <input type="text" class="form-control" placeholder="Cerca o inizia una nuova chat">
                        </div>
                    </div>

                    <!-- section list contacts -->
                    <div class="list_contact d-flex flex-column">
                        <div class="card_single_contact d-flex position-relative" v-for="(el, i) in contacts"
                            :class="i === currentIndexConversation ? 'active' : ''"
                            @click="onChangeCurrentConversation(i)">
                            <img :src="`../img/avatar${el.avatar}.jpg`" alt="user image">
                            <div class="card_single_contact_text">
                                <h3 class="mb-1 mt-1">{{ el.name }}</h3>
                                <p class="m-0 text-secondary">Ultimo messaggio</p>
                            </div>
                            <div class="last_message-time position-absolute top-0 end-0 p-1">
                                <p class="text-secondary m-0">2021/11/03 13:28:00</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class=" container_dx d-flex flex-column">

                    <!-- section info message user -->
                    <div class="info_message_user d-flex align-items-center">
                        <img :src="`../img/avatar${contacts[currentIndexConversation].avatar}.jpg`" alt="image user">
                        <div class="info_message_user_text">
                            <h4 class="mb-1">{{ contacts[currentIndexConversation].name}}</h4>
                            <p class="m-0 text-secondary">Ultimo accesso il 2021/11/03 alle 13:28:00</p>
                        </div>
                        <div class="info_message_user_icon">
                            <a href="#"><i class="fas fa-search"></i></a>
                            <a href="#"><i class="fas fa-paperclip"></i></a>
                            <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                        </div>
                    </div>

                    <!-- section conversation -->
                    <div class="conversation">
                        <div class="conversation_message_container" v-for="(el, i) in contacts"
                            v-if="i === currentIndexConversation">

                            <!-- single message -->
                            <div class="single_message_container d-flex py-2" v-for="sms in el.messages"
                                :class="sms.status === 'sent' ?  'justify-content-end' : ''">
                                <div class="single_message position-relative"
                                    :class="sms.status === 'sent' ?  'sent' : 'recived'">
                                    <h3 class="m-0">{{ sms.text }}</h3>
                                    <div class="single_message_times position-absolute bottom-0 end-0 p-1">
                                        <p class="m-0 text-secondary small">{{ sms.date }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- section write message -->
                    <div class="write_message d-flex align-items-center">
                        <a href="#"><i class="far fa-smile"></i></a>
                        <div class="input-group m-0 input_write_text">
                            <input type="text" class="form-control" placeholder="Scrivi un messaggio"
                                v-model="newMessageToAdd" @keyup.enter="onSentNewMessage">
                        </div>
                        <a href="#" @click="onSentNewMessage"><i
                                :class="newMessageToAdd.trim() === '' ? 'fas fa-microphone' : 'fas fa-paper-plane'"></i></a>
                    </div>
                </div>
            </div>
        </main>

        <footer>

        </footer>

    </div>

    <script src="script.js"></script>

</body>

</html>